
.home-container {
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.home-body-container {
  flex: 1;
  height: 100%;
  display: block;
}

.home-footer-container {
  height: 12vw;
  max-height: 12vh;
}
